@import 'src/styles/variables';

.info {
  &__image {
    float: left;
    shape-outside: circle(55%);
    transform: scale(1.04) rotate(-6deg);

    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    margin-right: 30px;
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 16px;

    font-size: 32px;
  }

  &__description {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    white-space: break-spaces;
  }

  &__box {
    min-height: 225px;
  }

  &__sub {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
  }

  &__upd {
    display: block;
    font-style: italic;
    font-size: 12px;
    color: $ghost-dark;
  }

  &__intro {
    color: $ghost-darkest;
    font-style: italic;
  }
}

@media screen and (min-width: $mini-desktop-more) {
  .info {
    &__image {
      transition: all 450ms ease 0s;

      &:hover {
        transform: scale(1) rotate(0);
        box-shadow: none;
      }
    }

    &__upd {
      margin-top: 18px;
      margin-bottom: -28px;
    }

    &__intro {
      padding-top: 22px;
    }

    &__sub {
      margin-bottom: 16px;
      text-align: center;
    }
  }
}

@media screen and (max-width: $tablet) {
  .info {
    &__image {
      width: 120px;
      height: 120px;
    }

    &__box {
      min-height: 137px;
    }

    &__upd {
      margin-bottom: -6px;
    }

    &__sub {
      margin-top: 6px;
      margin-bottom: 8px;
      font-size: 20px;
      line-height: 24px;
    }

    &__description {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
