@import 'src/styles/variables';

.index {
  display: flex;
  flex: 1;

  padding: 40px 0 40px;

  background-color: $white-bg;

  &__container {
    display: flex;
    flex-direction: column;
  }
}

.notFound {
  display: flex;
  flex: 1;

  padding: 20px 0 30px;

  background-color: $white-bg;

  &__title {
    margin-bottom: 16px;

    font-size: 32px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    text-decoration: underline;
  }
}

@media screen and (max-width: $mini-desktop) {
}

@media screen and (max-width: $large-table) {
}

@media screen and (max-width: $tablet) {
}
