$primary-color: #0d0d0d;

$ghost: #88888c;
$ghost-light: #c9c9c9;
$ghost-lighter: #efefef;
$ghost-lightest: #f9f9f9;

$white-color: #ffffff;
$white-bg: #f9fafc;
$success-color: #3bda67;
$success-second-color: #94da3b;
$pending-color: #5e72eb;
$pending-second-color: #fdc094;

$error-color: #ff0d1a;
$warning-color: #f3ba2f;

$hover-color: #0071e3;
$hover-color-light: #e5f1fc;
$bg-accent: #f5faff;
$new-accent: #007aff;

$menu-color-linked: #0a66c2;
$menu-color-hh: #d6001c;
$menu-color-cv: #1a73e8;

$footer-bg: #171717;

$Sans-font: 'DM Sans', Arial, sans-serif;
$Mono-font: 'DM Mono', Arial, sans-serif;

// Breakpoint
$desktop-more: 1346px;
$desktop: 1345px;

$mean-desktop-more: 1193px;
$mean-desktop: 1192px;

$mini-desktop-more: 1025px;
$mini-desktop: 1024px;

$large-table-more: 901px;
$large-table: 900px;

$tablet-more: 769px;
$tablet: 768px;

$extra-tablet-more: 661px;
$extra-tablet: 660px;

$mobile-more: 376px;
$mobile: 375px;

$extra-mobile-more: 321px;
$extra-mobile: 320px;
