@import 'src/styles/variables';

.post-info {
  &__header {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 18px;

    font-size: 22px;
  }

  &__box {
    padding: 16px 22px;
    border: 4px dashed $ghost-lighter;
  }

  &__field {
    &:nth-child(n + 2) {
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .post-info {
    &__container {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
